/*header*/
header{
	margin-top: 40px;
	width: 1170px;
	position: fixed;
	top: 0;
	z-index: 999;
	width: 100%;

}

ul{
	display: flex;
	justify-content: space-around;
}

nav{
	width: 500px;
	margin-left: 700px;
}

h1{
	margin-left: 110px;
	font-size: 30px;
	color: #ead1ae;
}

h1::before{
	content:"Web ";
	color: #0000b3;
}

.li-a{
	font-size: 14px;
	color: #000080;
}

/*section 1 start*/

.s-1{
	margin-top: 200px;

}

.container{
	width: 1170px;
	margin: 0 auto;
	display: flex;
	justify-content: space-between;
}

.p-1{
	font-size: 40px;
	color: #4d2800;
}

.p-2{
	margin-top: 30px;
	font-size: 12px;
	color: #525151;
}

.button-1{
	margin-top: 100px;
	background-color: blue;
	color: white;
	border-radius: 20px;
	padding: 10px;
}

.button-1:hover{
	font-size: 20px;
}

.img-size{
	width: 500px;
	height: 300px;
	object-fit: cover;
}
/*section 1 end*/
/*section 2 start*/
.s-2{
	margin-top: 100px;
}

.s2-p-1{
	font-size: 20px;
	color: blue;
}

.s2-p-2{
	font-size: 30px;
	color: #352617;
	margin-top: 10px;
}

.s2-p3{
	font-size: 15px;
	margin-top: 10px;
	color: #3d3d29;
}

.card-img-size{
	width: 100px;
	height: 100px;
	object-fit: cover;
}

.container-1{
	display: flex;
	justify-content: space-around;
	margin-top: 50px;
}

.card{
	width: 300px;
	height: 300px;
	padding: 30px;
}

.button-2{
	border: 1px white solid;
	border-radius: 20px;
	margin-top: 50px;
}

.button-2:hover{
	background-color: gray;
	font-size: 20px;
}

h2{
	font-size: 20px;
	color: white;
}

h3{
	margin-top: 9px;
	color: white;
	font-size: 13px;
}
.card.orange{
	background-color: #ff8c00;
}

.card.blue{
	background-color: #0052cc;
}

.card.purple{
	background-color: #660066;
}

.card.light-blue{
	background-color: #1a75ff;
}

.card.light-purple{
	background-color: #cc99ff;
}

.card.red{
	background-color: #b32d00;
}